<!-- Header Banner Section -->
<div class="relative  text-gray-700 py-16 px-6  mt- mb-3 overflow-hidden">
    <!-- Decorative Background Shapes (optional for visual interest) -->
    <div class="absolute inset-0 bg-opacity-25 bg-cover" style="background-image: url('path-to-background-image.jpg');"></div>
    <div class="relative z-10 max-w-4xl mx-auto text-center space-y-4">
        <h1 class="text-4xl md:text-5xl font-extrabold tracking-tight">
            Elevate Your Fitness Journey
        </h1>
    </div>
</div>

<!-- Main Content Section with Search, Filter, and Actions -->
<div class="flex justify-center items-center mb-8 space-x-6 p-6">
    <app-search-bar 
        [placeholder]="'Search for a user...'"
        (searchSubmit)="onSearch($event)"
        [searchValue]="searchValue"
    ></app-search-bar>

    <app-filter-dropdown
        (filterChange)="onFilterChange($event)"
    ></app-filter-dropdown>

    <app-workout-dialog-form
        (workoutAdded)="onWorkoutSubmit($event)"
    ></app-workout-dialog-form>

    <button
      class="px-4 py-3 bg-green-700 text-white rounded-md hover:bg-blue-600"
      (click)="loadMockData()"
    >
      Load Mock Data
</button>
</div>

<!-- Table and Dialog Views for User Data and Workout Details -->
<app-workout-table-view
    [tableData]="tableData"
    (selectedUser)="onRowSelect($event)"
></app-workout-table-view>

<app-workout-user-dialog-view
    [dialogDisplay]="userDataDialogDisplay"
    [userWorkoutData]="userWorkoutData"
></app-workout-user-dialog-view>
